body {
    font-family:'Times New Roman', Times, serif;
    background-color: #dce0d9
}

.header {
background-color: #8d6849;
width: 100vw;
color: seashell;
}

.btn {
    color: seashell;
    background-color: #041B15;
    border-color: black;
}

.btn:hover{
    background-color: #7A7265;
}